/*rem settings*/
html {
  font-size: 10px;
}

/*Fonts and colours*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  /*background-color: #CFCFCFFF;*/
  color: #3E3E3EFF;
  line-height: 1.4;
  background: linear-gradient(to bottom right, #cfcfcf, #f2f2f2);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DF1616FF
}

p {
  font-weight: 300;
  font-size: 1.8rem;
}

a {
  color: #3E3E3EFF;
  text-decoration: none;
}

a:hover {
  color: #DF1616FF
}

/*Column system*/

.row {
  width: 100%;
}

.col {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.col:last-child {
  text-align: left;
}

.col img {
  margin: 2.4rem;
}


/*Component design*/

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #F4F4F4FF;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 3rem;
  margin: 3rem 0px;
  transition: all 0.3s ease;
}

.contact-icon {
  font-size: 6rem;
}

.skill-icon {
  font-size: 10rem;
}
.no-margin {
  margin: 0px;
}

.margin-right {
  margin-right: 1rem;
}

.img-rounded {
  border-radius: 50%;
  border: 1px solid #D9D9D9FF;
}

.img-150 {
  width: 150px;
}

.screenshot {
  width: 90%;
  max-width: 350px;
}


ul {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  padding: 1rem 2rem;
  display: inline-block;
}

.btn-red {
  height: 5rem;
  padding: 1.5rem 2.5rem;
  border-radius: 3px;
  background-color: #DF1616FF;
  color: white;
}

.btn-red:hover {
  background-color: #FD6060FF;
  color: white;
  cursor: pointer;
}


.hidden {
  display: none;
}

#contact-info {
  padding-top: 4rem;
  backface-visibility: hidden;
}

/*Media queries*/

@media only screen and (max-width: 600px) {
  .col {
    width: 100%;
  }

  .col:last-child {
    text-align: center;
  }

  .margin-right {
    margin-right: 3rem;
  }
}
