/*Fonts and colours*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #CFCFCFFF;
  color: #3E3E3EFF;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DF1616FF
}

p {
  font-weight: 300;
}

a {
  color: #3E3E3EFF;
  text-decoration: none;
}

a:hover {
  color: #DF1616FF
}


/*Component design*/

table {
  margin: 10px auto;
}

td {
  padding: 7px;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #F4F4F4FF;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 30px;
  margin: 30px 0px;
}

.big {
  font-size: 3em;
}

.no-margin {
  margin: 0px;
}

.img-rounded {
  border-radius: 50%;
  border: 1px solid #D9D9D9FF;
}

.img-150 {
  width: 150px;
}

.screenshot {
  width: 200px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  padding: 10px 20px;
  display: inline-block;
}

.btn-red {
  height: 50px;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #DF1616FF;
  color: white;
}

.btn-red:hover {
  background-color: #FD6060FF;
  color: white;
}

.devicons {
  font-size: 7em;
}


